<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.lz.web.dal.dao.IfSyslogMapper">
    <resultMap id="BaseResultMap" type="com.xxx.lz.web.dal.dataobj.IfSyslog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="log_name" jdbcType="VARCHAR" property="logName"/>
        <result column="log_time" jdbcType="TIMESTAMP" property="logTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xxx.lz.web.dal.dataobj.IfSyslog">
        <result column="log_txt" jdbcType="LONGVARCHAR" property="logTxt"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, log_name, log_time
  </sql>
    <sql id="Blob_Column_List">
    log_txt
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslogExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from if_syslog
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByExample" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslogExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from if_syslog
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from if_syslog
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from if_syslog
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslogExample">
        delete from if_syslog
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslog"
            useGeneratedKeys="true">
    insert into if_syslog (log_name, log_time, log_txt
      )
    values (#{logName,jdbcType=VARCHAR}, #{logTime,jdbcType=TIMESTAMP}, #{logTxt,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslog"
            useGeneratedKeys="true">
        insert into if_syslog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logName != null">
                log_name,
            </if>
            <if test="logTime != null">
                log_time,
            </if>
            <if test="logTxt != null">
                log_txt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logName != null">
                #{logName,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logTxt != null">
                #{logTxt,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslogExample" resultType="java.lang.Long">
        select count(*) from if_syslog
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update if_syslog
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.logName != null">
                log_name = #{record.logName,jdbcType=VARCHAR},
            </if>
            <if test="record.logTime != null">
                log_time = #{record.logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.logTxt != null">
                log_txt = #{record.logTxt,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update if_syslog
        set id = #{record.id,jdbcType=INTEGER},
        log_name = #{record.logName,jdbcType=VARCHAR},
        log_time = #{record.logTime,jdbcType=TIMESTAMP},
        log_txt = #{record.logTxt,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update if_syslog
        set id = #{record.id,jdbcType=INTEGER},
        log_name = #{record.logName,jdbcType=VARCHAR},
        log_time = #{record.logTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslog">
        update if_syslog
        <set>
            <if test="logName != null">
                log_name = #{logName,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                log_time = #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logTxt != null">
                log_txt = #{logTxt,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslog">
    update if_syslog
    set log_name = #{logName,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=TIMESTAMP},
      log_txt = #{logTxt,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xxx.lz.web.dal.dataobj.IfSyslog">
    update if_syslog
    set log_name = #{logName,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>