<!--if(empty($conf['create'])){-->
<!--$DB->query("insert into if_config values('create',now())");-->
<!--}-->
<!--$yxts=ceil((time()-strtotime($conf['create']))/86400); //本站已运行多少天-->

<!--$allOrder = $DB->count("SELECT  id  from if_order order by id DESC limit 1");-->
<!--//历史订单数-->
<!--$nowOrder = $DB->count("SELECT COUNT(id)  from if_order order by id DESC limit 1");-->
<!--//当前订单数-->
<!--$okOrder = $DB->count("SELECT COUNT(id)   from if_order where sta = 1 order by id DESC limit 1");-->
<!--//完成订单数-->


<!--$rs=$DB->query("select * from if_type");-->
<!--$select = "";-->
<!--while ($row = $DB->fetch($rs)){-->
<!--$select.='<option value="'.$row['id'].'">'.$row['tName'].'</option>';-->
<!--}-->


<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport">
    <title><?php echo $conf['title'];?></title>
    <meta content=" " name="keywords"/>
    <meta content=" " name="description"/>
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/css/fancy-buttons.css" rel="stylesheet"/>

    <!--=== Other CSS files ===-->
    <link href="assets/css/animate.css" rel="stylesheet"/>

    <!--=== Main Stylesheets ===-->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="assets/css/responsive.css" rel="stylesheet"/>


    <!--=== Internet explorer fix ===-->
    <!-- [if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
    <link href="assets/imgs/4.png" media="screen" rel="shortcut icon" type="image/x-icon"/>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="assets/layer/layer.js"></script>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="js/if.js"></script>
    <script type="text/javascript">
        $(function () {
            getPoint($("#tp_tid"));
        })
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
            letter-spacing: 1.2px;
            color: #fff;
            background: url(../../assets/imgs/bg_17a9fb8.jpg) no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        img.logo {
            width: 14px;
            height: 14px;
            margin: 0 5px 0 3px;
        }

        .layui-layer-content {
            color: #000;
        }
    </style>
</head>
<body>
<!--=== Header section Starts ===-->
<div class="header-section" id="header">
    <!-- sticky-bar Starts-->
    <div class="sticky-bar-wrap">
        <div class="sticky-section">
            <div class="nav-hold container" id="topbar-hold">
                <nav class="navbar" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target=".navbar-responsive-collapse" data-toggle="collapse"
                                type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--=== Site Name ===-->
                        <a class="site-name navbar-brand" href="/">
                            <?php echo $conf['title'];?></a>
                    </div>

                    <!-- Main Navigation menu Starts -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="/">在线购买下单</a></li>
                            <li><a href="?tp=chiji&action=getkm">订单查询提卡</a></li>
                        </ul>
                    </div>
                    <!-- Main Navigation menu ends-->
                </nav>
            </div>
        </div>
    </div>
    <!-- sticky-bar Ends-->
    <!--=== Header section Ends ===-->

    <!--=== Home Section Starts ===-->
    <div class="home-section-wrap center" id="section-home">
        <div class="section-overlay"></div>
        <div class="container home">
            <div class="row">
                <h1 class="well-come">购买须知【用户必看】</h1>

                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-message">本站域名：<?php echo $_SERVER['HTTP_HOST']?></p>
                    <p class="intro-message">客服QQ:<?php echo $conf['zzqq']?></p>
                    <p class="intro-message"><?php echo $conf['notice1']?></p>
                    <p class="intro-message"><?php echo $conf['notice2']?></p>
                    <p class="intro-message"><?php echo $conf['notice3']?></p>
                    <div class="home-buttons">
                        <a class="fancy-button button-line button-white zoom" href="#">
                            快速
                            <span class="icon">
									<i class="fa fa-paper-plane-o"></i>
								</span>
                        </a>
                        <a class="fancy-button button-line button-white zoom" href="#">
                            及时
                            <span class="icon">
									<i class="fa fa-clock-o"></i>
								</span>
                        </a>
                        <a class="fancy-button button-line button-white zoom" href="#">
                            稳定
                            <span class="icon">
									<i class="fa fa-sign-in"></i>
								</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Home Section Ends ===-->
</div>


<!--=== Testimonials section Starts ===-->
<section class="testimonials-wrap" id="section-testimonials">
    <div class="section-overlay"></div>
    <div class="container testimonials animated" data-animation="rollIn" data-animation-delay="500">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="contact-form support-form">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">商品分类</div>
                                <select class="input-field form-item field-name placeholder" id="tp_tid" name="tp_id"
                                        onchange="getPoint(this);">
                                    <?php echo $select?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">选择商品</div>
                                <select class="input-field form-item field-name placeholder" id="gid" name="gid"
                                        onchange="getPrice(this)">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body" id="ginfo"
                                     style="display: none;color: #000000;text-align: center;"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">商品价格</div>
                                <input class="input-field form-item field-name placeholder" disabled="" id="need"
                                       name="need" required="required" type="text">

                            </div>
                        </div>
                        <div class="form-group"
                        <?php if($conf['showKc'] == 2) echo "style='display:none;'"?>>
                        <div class="input-group">
                            <div class="input-group-addon">商品库存</div>
                            <input class="input-field form-item field-name placeholder" disabled="" id="kc" name="kc"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">联系方式</div>
                            <input class="input-field form-item field-name placeholder" id="lx" name="lx" placeholder="输入您的QQ,QQ可作为你的提取密码"
                                   required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">选择数量</div>
                            <div class="input-group-addon btn btn-primary" id="jia" onclick='numstepUp()'>+</div>
                            <input class="form-control " id="number" min="1" name="number" onBlur="checknum()"
                                   placeholder="" required step="1" type="number" value="1">
                            <div class="input-group-addon btn btn-primary" id="jian" onclick='numstepDown()'>-</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">支付方式</div>
                            <div class="input-field form-item field-name pay-style">
                                <label class="radio-inline">
                                    <input id="alipay" name="type" title="支付宝" type="radio" value="alipay">
                                    <img alt="" src="assets/alipay.ico" width="16px"/>
                                    <span>支付宝</span>
                                </label>
                                <label class="radio-inline">
                                    <input id="wxpay" name="type" title="微信" type="radio" value="wxpay">
                                    <img alt="" src="assets/wechat.ico"/>
                                    <span>微信</span>
                                </label>
                                <label class="radio-inline">
                                    <input id="qqpay" name="type" title="QQ钱包" type="radio" value="qqpay">
                                    <img alt="" src="assets/qqpay.ico"/>
                                    <span>QQ钱包</span>
                                </label>
                                <label class="radio-inline">
                                    <input id="tenpay" name="type" title="财付通" type="radio" value="tenpay">
                                    <img alt="" src="assets/tenpay.ico"/>
                                    <span>财付通</span>
                                </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="center">
                <button class="fancy-button button-line button-white large zoom subform" id="submit_buy" type="button">
                    立即购买
                    <span class="icon">
									<i class="fa fa-paper-plane-o"></i>
								</span>
                </button>
                <a class="fancy-button button-line button-white large zoom subform"
                   href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $conf['zzqq']?>&site=qq&menu=yes">
                    联系客服
                    <span class="icon">
									<i class="fa fa-headphones"></i>
								</span>
                </a>
            </div>

            </form>

        </div>
    </div>
    </div>
</section>
<!--=== Testimonials section Ends ===-->

<!--=== Footer section Starts ===-->
<div class="footer-wrap" id="section-footer">
    <div class="container footer center">
        <?php echo $conf['foot']?>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright © 2018 <?php echo $conf['title'];?></p><a href="http://pay.c7e.cn"
                                                                                         target="_blank">轻云支付</a>
            </div>
        </div>
    </div>
</div>
<!--=== Footer section Ends ===-->

<!--==== Js files ====-->

<!--==== Scroll and navigation plugins ====-->
<script src="assets/js/jquery.nav.js" type="text/javascript"></script>
<script src="assets/js/jquery.appear.js" type="text/javascript"></script>


<!--==== Custom Script files ====-->
<script src="assets/js/custom.js" type="text/javascript"></script>

</body>
</html>